@using Entity_Layer.Concrete
@model List<Contact>
@*ContactDetails*@
    <div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
        @foreach (var item in Model)
        {
        <div class="mt-3 px-1">
            <div class="h5">@item.contactTitle</div>
            <p>@item.contactDescription</p>
            <p>Benimle başka yollarla da iletişime geçebilirsiniz.</p>
            <p>Hoşça kalın!</p>
        </div>
        <div class="mt-53 px-1">
            <div class="row">
                <div class="col-sm-2">
                    <div class="pb-1">e-Mail: </div>
                </div>
                <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">@item.contactMail</div>
                </div>
                <div class="col-sm-2">
                    <div class="pb-1">Telefon: </div>
                </div>
                <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">@item.contactPhone</div>
                </div>
            </div>
        </div>
        }
    </div>