@using Entity_Layer.Concrete
@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
@*EXPERIENCE INDEX*@

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Deneyimlerim</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Unvan</th>
                            <th>Eylem</th>
                            <th>Eylem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.experienceTitle</td>
                                <td>@item.experienceDate</td>
                                <td><a href="/Experience/DeleteExperience/@item.experienceID" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/Experience/UpdateExperience/@item.experienceID" class="btn btn-outline-info">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Experience/AddExperience" class="btn btn-outline-behance">Deneyim Ekle</a>
            </div>
        </div>
    </div>
</div>