@model Entity_Layer.Concrete.Feature
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Öne Çıkanlar</h3>
</div>
@using (Html.BeginForm("Index", "Feature", FormMethod.Post))
{
    @Html.HiddenFor(m => m.featureID)
    <br />
    <label>Başlık</label>
    @Html.TextBoxFor(m => m.featureHeader, new { @class = "form-control" })
    <br />
    <label>Ad Soyad</label>
    @Html.TextBoxFor(m => m.featureName, new { @class = "form-control" })
    <br />
    <label>Meslek Unvanı</label>
    @Html.TextBoxFor(m => m.featureTitle, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
}
