<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="icon-mail menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/ReceiverMessage/">
                            <span class="menu-title">Gelen Mesajlar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/SenderMessage/">
                            <span class="menu-title">Giden Mesajlar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/SendMessage/">
                            <span class="menu-title">Yeni Mesaj</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index/">
                <i class="icon-marquee menu-icon"></i>
                <span class="menu-title">Duyurular</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index/">
                <i class="icon-circle-check menu-icon"></i>
                <span class="menu-title">Profil</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="icon-skip-forward menu-icon"></i>
                <span class="menu-title">Yazar Paneli</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index/">
                <i class="icon-cog menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Login/LogOut/">
                <i class="icon-power menu-icon"></i>
                <span class="menu-title">Çıkış</span>
            </a>
        </li>
    </ul>
</nav>
@*<li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <i class="icon-layout menu-icon"></i>
            <span class="menu-title">UI Elements</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
            </ul>
        </div>
    </li>*@