<ul class="nav">
    <li class="nav-item profile">
        <div class="profile-desc">
            <div class="profile-pic">
                <div class="count-indicator">
                    <img class="img-xs rounded-circle " src="/Template/images/me.jpg" alt="">
                    <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                    <h5 class="mb-0 font-weight-normal">Mehmetcan DEMİR</h5>
                    <span>ADMIN - Inventor</span>
                </div>
            </div>
            <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
            <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="/Writer/Dashboard/Index/" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-nature-people text-primary"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <p class="preview-subject ellipsis mb-1 text-small">Yazar Paneli</p>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="/Writer/Profile/Index/" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-dark rounded-circle">
                            <i class="mdi mdi-settings  text-info"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <p class="preview-subject ellipsis mb-1 text-small">Ayarlar</p>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
            </div>
        </div>
    </li>
    <li class="nav-item nav-category">
        <span class="nav-link">Keşif Haritası</span>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Dashboard/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
            </span>
            <span class="menu-title">Dashboard</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Skill/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-briefcase-check"></i>
            </span>
            <span class="menu-title">Yeteneklerim</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Experience/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-battery-charging-30"></i>
            </span>
            <span class="menu-title">Deneyimlerim</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/About/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-account-question"></i>
            </span>
            <span class="menu-title">Hakkımda |</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/PortfoliosContact/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-calendar-account"></i>
            </span>
            <span class="menu-title">Hakkımda ||</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Default/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
            </span>
            <span class="menu-title">Portfolyo</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="../../pages/charts/chartjs.html">
            <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">Grafikler</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Service/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-image"></i>
            </span>
            <span class="menu-title">Hizmetlerim</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Portfolio/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-projector"></i>
            </span>
            <span class="menu-title">Projelerim</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <span class="menu-icon">
                <i class="mdi mdi-message-processing"></i>
            </span>
            <span class="menu-title">Mesajlarım</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
                <a class="mdi mdi-contact-mail" href="/AdminMessage/InBox/"> Gelen Kutusu </a>
                <a class="mdi mdi-inbox" href="/AdminMessage/OutBox/"> Giden Kutusu </a>
            </ul>
        </div>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/ContactMessage/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-phone"></i>
            </span>
            <span class="menu-title">İletişim</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Testimonial/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-human-male-female"></i>
            </span>
            <span class="menu-title">Referanslarım</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Feature/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-subtitles"></i>
            </span>
            <span class="menu-title">Öne Çıkanlar</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/SocialMedia/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-account-multiple"></i>
            </span>
            <span class="menu-title">
                Sosyal Medya
                <i class="mdi mdi-twitter-circle"></i>
                <i class="mdi mdi-linkedin-box"></i>
                <i class="mdi mdi-instagram"></i>
            </span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Experience2/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-pencil-lock"></i>
            </span>
            <span class="menu-title">Deneyim Ajax</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <span class="menu-icon">
                <i class="mdi mdi-security"></i>
            </span>
            <span class="menu-title">Güvenlik ve Gizlilik</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/ErrorPage/Error404/"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="/ErrorPage/Index/"> 401 </a></li>
                <li class="nav-item"> <a class="nav-link" href="/Writer/Login/Index/"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="/Writer/Register/Index/"> Register </a></li>
            </ul>
        </div>
    </li>
</ul>